<div id="primary">
  <a href="/" class="top-bar">
    <h1>Gießen Manisch <small style="font-size: 14px; font-weight: normal;">(beta)</small></h1>
  </a>
  <div class="content">
    <a href="/" id="start-btn" class="button active">Was ist das?<a>
    <a href="#cat/alle/" id="alle-btn" class="button">Alle Wörter</a>
    <a href="#random/" id="random-btn" class="button">Irgend ein Wort</a>
  </div>
  <div class="authorinfo"><a class="magic-link" href="http://www.pxwrk.de/">Ein pxwrk-Projekt</a></div>
</div>
<div id="secondary">
  <div class="content">
    <div class="top-bar">
      <form id="searchform">
        <input id="search" type="text" name="search" placeholder="Suche" />
      </form>
    </div>
    <div id="list-view">
    </div>
    <div id="bottom-list-info">
      <div class="inner">
        <p>
          <strong>Manisch</strong> ist eine in Gießen, Marburg, Wetzlar und Bad Berleburg als Soziolekt gesellschaftlicher Randgruppen entstandene regionale Variante des Rotwelschen. Es handelt sich um einen auf der Grundlage des örtlichen mittelhessischen bzw. Wittgensteiner Dialekts gebrauchten geheimsprachlichen Sonderwortschatz.
        </p>
        <p class="seperator">
          tl;dr
        </p>
        <p>
          Des schwätze die Leut von de <a href="http://de.wikipedia.org/wiki/Gummiinsel">Gummi-Insel</a>.
        </p>
      </div>
      <a href="http://de.wikipedia.org/wiki/Manische_Sprache" class="magic-link">
        Text getschurt bei: Wikipedia
      </a>
    </div>
  </div>
</div>
