<div class="content">
  <div class="close" title="Tipp: Du kannst die Detail-Ansicht auch mit der [esc]-Taste schließen.">
    <span id="itemview"><span class="left">Deutsch</span>&nbsp;<span class="right">Manisch</span></span>
    <div class="clearit"></div>
  </div>
  
  <ul>
    <li>
      <%= content %>
    </li>
  </ul>
  
  <div class="more">
    <p>Du weißt nicht was Manisch ist? <a href="/">Check das</a>!</p>
    <p>Teile diese Übersetzung mit deinen <a href="#search/Chabo/">Chabos</a> und <a href="#search/tschaij/">Tschaijs</a> auf <a href="#">Facebook</a>, <a href="#">Twitter</a> oder <a href="#">App.net</a>.</p><a class="button" href="#random/">Weitere Übersetzung per Zufall auswählen</a>
  </div>
</div>