// A highlight-color (for links and stuff)
$primary: #7E968F
// Another highlight-color (for Buttons and stuff)
$secondary: #CCA18B
// The darkest color
$tertiary: #11282D
// The lightest color
$quadrary: #fafafa

$font-std: 'Droid Sans', verdana, sans-serif
$font-size: 28px
$font-highlight: YanoneKaffeesatzRegular, helvetica
$font-color: #222
$font-color-highlight: #{$quadrary}

$page-width: 800px
$width-wrap-background: #fefefe

$body-background: #fafafa
$space-t-b: 20px
$space-l-r: 20px

$border-color: #ccc
$border-style: solid
$border-width: 1px
$radius: 4px