body {
  margin: 0;
}

video, img {
  display: block;
  max-width: 100%;
  outline: none;
  margin: 0 auto;
}

hr {
  border: none;
  background: #bbbbbb;
  height: 1px;
  margin: 20px 0;
}

:focus {
  outline: 0;
}

::-moz-selection {
  background: #88aaaa;
  color: #fefefe;
}

::selection {
  background: #88aaaa;
  color: #fefefe;
}

html, body {
  height: 100%;
}

body {
  background: #fefefe;
}

fieldset {
  padding: 20px 4rem;
  margin: 20px 0;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

p {
  margin: 20px 0;
}

p img {
  margin-top: 0.5em;
}

img.left {
  float: left;
  margin: 0.5em 20px 20px 0;
}

img.right {
  float: right;
  margin: 0.5em 0 20px 20px;
}

.clearit {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  clear: both !important;
  float: none !important;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  clear: both;
}

body {
  font-size: 20px;
  line-height: 1.8em;
  font-family: "Droid Serif", helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans", helvetica, sans-serif;
  margin: 20px 0;
  line-height: 1.4em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: underline;
}

h1, h2 {
  color: #88aaaa;
}

h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.12em;
}

h3 {
  font-size: 1.88em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a {
  color: #88aaaa;
}
a:hover {
  color: #990000;
}

p a, ul a, ol a {
  text-decoration: none;
}
p a:hover, ul a:hover, ol a:hover {
  text-decoration: underline;
}

legend {
  color: #999999;
  font-weight: bold;
}

.width-wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.inner-width-wrap {
  padding: 20px 4rem;
}

.main-content img {
  max-width: 100%;
}

.page-space {
  padding: 20px 4rem;
}

button, .btn, .button, input[type="button"], input[type="submit"], input[type="reset"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.4em 1em;
  cursor: pointer;
  line-height: 1.5em;
  font-weight: bold;
  font-size: 1em;
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  background: #88aaaa;
  border: 1px solid #fefefe;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
button:hover, .btn:hover, .button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  text-decoration: none;
  color: #fefefe;
  background: #557777;
}
button a, .btn a, .button a, input[type="button"] a, input[type="submit"] a, input[type="reset"] a {
  text-decoration: none;
}
button:disabled, button.passive, .btn:disabled, .btn.passive, .button:disabled, .button.passive, input[type="button"]:disabled, input[type="button"].passive, input[type="submit"]:disabled, input[type="submit"].passive, input[type="reset"]:disabled, input[type="reset"].passive {
  background: #aaaaaa;
  border: 1px solid #bbbbbb;
  cursor: default;
}

input[type="text"], input[type="date"], input[type="password"], textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #bbbbbb;
  background: #fafafa;
  border-radius: 6px;
  padding: 0.3em 2%;
  font-size: 1em;
  line-height: 1.5em;
}
input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus, textarea:focus {
  border-color: #999999;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: #fefefe;
}

textarea {
  resize: vertical;
}

blockquote {
  padding: 0 0 0 2.5em;
  margin: 2em 0;
  border-left: 1px solid #bbbbbb;
  font-style: italic;
}

pre {
  background: white;
  border: 1px solid gainsboro;
  padding: 20px;
  margin: 20px 0;
  overflow: scroll;
}
pre code {
  background: transparent;
}

code {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  background: #c5c5c5;
  padding: 0.1em 0.2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

table {
  width: 100%;
}

ul, ol, dl {
  margin: 20px 0;
}

ul {
  padding-left: 1em;
}

.multi-col-50-50 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.multi-col-50-50 .col-1 {
  width: 50%;
  float: left;
}
.multi-col-50-50 .col-2 {
  width: 50%;
  float: right;
}

.multi-col-30-30-30 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.multi-col-30-30-30 .col-1 {
  width: 33%;
  float: left;
}
.multi-col-30-30-30 .col-2 {
  width: 34%;
  float: left;
}
.multi-col-30-30-30 .col-3 {
  width: 33%;
  float: left;
}

a.tag {
  line-height: 2.4em;
  color: #999999;
  border-color: #eeeeee;
  text-decoration: none;
  background-color: #f9f9f9;
}
a.tag:hover {
  text-decoration: none;
  background-color: #bbbbbb;
  color: #fefefe;
  border-color: #fefefe;
}

.tag {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-color: #888888;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  padding: 3px 8px;
  margin-right: 6px;
  margin-bottom: 6px;
  text-decoration: none;
}
.tag:hover {
  background-color: #bbbbbb;
}

.progressbar {
  width: 94%;
  border: 2px solid #262626;
  padding: 0 10px;
  display: block;
  text-align: left;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  color: white;
  background-color: #262626;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #191919), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#191919, #333333);
  background-image: -moz-linear-gradient(#191919, #333333);
  background-image: -o-linear-gradient(#191919, #333333);
  background-image: linear-gradient(#191919, #333333);
}
.progressbar #percent {
  position: absolute;
  left: 0;
  overflow: hidden;
  z-index: 5;
  color: #fefefe;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #88aaaa;
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  background-size: 30px 30px;
  width: 20%;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.progressbar:hover #percent {
  position: absolute;
  left: 0;
  overflow: hidden;
  z-index: 5;
  color: #fefefe;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #bbbbbb;
}
.progressbar .text {
  padding: 0 10px 0 10px;
  white-space: nowrap;
}

h1 {
  font-size: 1em;
  line-height: 26px;
  margin: 0;
  color: #88aaaa;
}

#primary {
  padding-bottom: 20px;
  background-color: #333333;
}
#primary .top-bar {
  display: block;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  border-bottom: 1px solid #444444;
}
#primary .authorinfo a {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: #666666;
}
#primary .authorinfo:hover a {
  border-color: rgba(255, 255, 255, 0.2);
  color: #fefefe;
}

a {
  -webkit-transition: color 0.3s, border-color 0.3s;
  -moz-transition: color 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}

#secondary {
  position: relative;
}

#bottom-shadow {
  background: linear-gradient(transparent, #000000);
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 30%;
  right: 0;
  opacity: 0.3;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#secondary .top-bar {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8));
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8));
}

.fixsearch #secondary .top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #bbbbbb;
}
.fixsearch #secondary {
  padding-top: 66px;
}

#primary .top-bar {
  min-height: 26px;
  padding: 20px;
}

input#search {
  line-height: 26px;
  min-height: 66px;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  border: none;
  display: block;
  background: linear-gradient(#ededed, #ffffff);
}
input#search:focus {
  background: #fefefe;
}

.content {
  position: relative;
}
.content button {
  margin-bottom: 20px;
}
.content button:last-child {
  margin-bottom: 0;
}

.bottom-list-info,
.authorinfo {
  text-align: center;
}
.bottom-list-info a,
.authorinfo a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.authorinfo {
  font-size: 14px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#primary .content {
  padding: 20px;
}

button,
input[type="button"] {
  margin: 0;
  font-size: 0.9em;
  text-align: left;
  border-color: rgba(255, 255, 255, 0.1);
  background: transparent;
}

@media screen and (min-width: 790px) {
  #primary {
    position: fixed;
    width: 30%;
    left: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow: auto;
  }

  .fixsearch #secondary .top-bar,
  #secondary .top-bar {
    position: fixed;
    left: 30%;
    top: 0;
    right: 0;
    border-bottom: 1px solid #bbbbbb;
  }

  #secondary {
    margin-left: 30%;
    padding-top: 66px;
  }
}
ul {
  border-bottom: 1px solid #bbbbbb;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 10px 20px;
  border-top: 1px solid #bbbbbb;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
ul li.odd {
  background-color: whitesmoke;
}
ul li.even {
  background-color: #fbfbfb;
}
ul li:hover {
  background-color: gainsboro;
}
ul li .german {
  font-weight: bold;
  float: left;
}
ul li .manisch {
  font-weight: normal;
  float: right;
}
ul li.same-german.odd, ul li.same-manisch.odd {
  border-color: #e9e9e9;
}
ul li.same-german.even, ul li.same-manisch.even {
  border-color: whitesmoke;
}
ul li.same-german .german {
  display: none;
}
ul li.same-manisch .manisch {
  display: none;
}
ul li .counter {
  display: block;
  line-height: 0.5em;
  width: 50px;
  color: #bbbbbb;
  font-size: 0.8em;
}

.multi-col-30-30-30 .col-1 button {
  border-radius: 6px 0 0 6px;
}
.multi-col-30-30-30 .col-2 button {
  border-radius: 0;
}
.multi-col-30-30-30 .col-3 button {
  border-radius: 0 6px 6px 0;
}

button.active {
  background: #770000;
}
button:hover {
  background: #aa1111;
}

.ui-autocomplete {
  background: white;
  border: 1px solid #bbbbbb;
  padding: 0;
  list-style: none;
  position: relative;
}
.ui-autocomplete a {
  display: block;
}
.ui-autocomplete a.ui-state-focus {
  color: white;
}
